In [2]:
import sys
!{sys.executable} -m pip install numpy
!{sys.executable} -m pip install pandas

Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (1.17.2)
WARNING: You are using pip version 20.2.3; however, version 20.3 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.7/bin/python3.7 -m pip install --upgrade pip' command.
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (0.25.1)
Requirement already satisfied: numpy>=1.13.3 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pandas) (1.17.2)
Requirement already satisfied: pytz>=2017.2 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pandas) (2019.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
WARNING: You are using pip version 20.2.3; however, version 20.3 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.7/bin/python3.7 -m pip install --upgrade pip' command.

In [2]:
import pandas as pd

In [7]:
train_df = pd.read_csv('data/twitter/train.txt', sep='\t', names=["ID", "Label", "Content"])
train_df.head()

,ID,Label,Content
0,105121481662541824,negative,I forgot how sad the first episode of the 5th ...
1,104319460143415296,negative,Oct. 2 is almost too far away for me to wait f...
2,103641916586999808,neutral,(OFF TOPIC) - there is only 3 episodes on the ...
3,100544750414864384,neutral,@iheardavoicesay is finally catching up to me ...
4,102220476499243008,neutral,"I downloaded the first season of #Dexter, gonn..."

In [6]:
test_df = pd.read_csv('data/twitter/test.txt', sep='\t', names=["ID", "Label", "Content"])
test_df.head()

,ID,Label,Content
0,801989080477154944,neutral,#ArianaGrande Ari By Ariana Grande 80% Full ht...
1,801989272341453952,positive,Ariana Grande KIIS FM Yours Truly CD listening...
2,801990978424962944,positive,Ariana Grande White House Easter Egg Roll in W...
3,801996232553963008,positive,#CD #Musics Ariana Grande Sweet Like Candy 3.4...
4,801998343442407040,neutral,SIDE TO SIDE ðŸ˜˜ @arianagrande #sidetoside #aria...

In [8]:
df = pd.concat([train_df, test_df])
df.head()

,ID,Label,Content
0,105121481662541824,negative,I forgot how sad the first episode of the 5th ...
1,104319460143415296,negative,Oct. 2 is almost too far away for me to wait f...
2,103641916586999808,neutral,(OFF TOPIC) - there is only 3 episodes on the ...
3,100544750414864384,neutral,@iheardavoicesay is finally catching up to me ...
4,102220476499243008,neutral,"I downloaded the first season of #Dexter, gonn..."

In [ ]:
def preprocess(file, t):
    f = open(file, 'r', encoding='utf-8')

    data = list()
    labels = list()

    for line in f:

        line_split = line.split(',')
        id = line_split[0]
        lab = line_split[1]
        labels.append(lab)
        content = ','.join(line_split[2:])

        tweet = str(content).replace('@user', '')
        tweet = tweet.replace('RT', '').replace('FAV', '')
        tweet = tweet.replace('\xa0', ' ')
        tweet = tweet.replace('#', ' ')

        # Remove non-words using regular expressions
        tweet = re.sub(r'\W+', ' ', tweet)

        # Remove digits
        tweet = re.sub(r'\d+', ' ', tweet)

        # Remove single characters
        tweet = re.sub(r'\s+[a-zA-Z]\s+', ' ', tweet)

        # Remove single characters at the begining or end of sentences
        tweet = re.sub(r'^[a-zA-Z]\s+', ' ', tweet)
        tweet = re.sub(r'\s+[a-zA-Z]$', ' ', tweet)

        # Replace one or more spaces with one
        tweet = re.sub(r'\s+', ' ', tweet)

        tweet = re.sub('[^a-zA-Z ]+', '', tweet)

        # Remove stopwords as they are irrelevant to this task
        tweet = [word for word in tweet.split() if not word in stop_words]

        # Lemmatize, to capture semantically related words
        lemmatizer = WordNetLemmatizer()
        data_clean = [lemmatizer.lemmatize(word) for word in tweet]

        data_clean = ' '.join(data_clean)

        data.append(data_clean)

    return data, labels